<section class="htc__blog__area bg__white ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__title section__title--2 text-center">
                    <h2 class="title__line">Latest News</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="blog__wrap clearfix mt--60 ">
            <div class="row">
                <!-- Start Single Blog -->
                <div class="col-lg-4 col-xl-4 col-md-6 col-12">
                    <div
                        class="blog foo"
                        data-sr-id="1"
                        style="
                            visibility: visible;
                            -webkit-transform: translateY(0) scale(1);
                            opacity: 1;
                            transform: translateY(0) scale(1);
                            opacity: 1;
                            -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
                            transition: transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
                        "
                    >
                        <div class="blog__inner">
                            <div class="blog__thumb">
                                <a href="/postDetails/1">
                                    <img src="/azshopweb/images/blog/blog-img/1.jpg" alt="blog images" />
                                </a>
                                <div class="blog__post__time">
                                    <div class="post__time--inner">
                                        <span class="date">14</span>
                                        <span class="month">sep</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__hover__info">
                                <div class="blog__hover__action">
                                    <p class="blog__des"><a href="blog-details.html">Lorem ipsum dolor sit consectetu.</a></p>
                                    <ul class="bl__meta">
                                        <li>By :<a href="#">Admin</a></li>
                                        <li>Product</li>
                                    </ul>
                                    <div class="blog__btn">
                                        <a class="read__more__btn" href="blog-details.html">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
               
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded',function(){        
          

        
    })
</script>
