<div class="blog-details-left-sidebar">
    <div class="blog-details-top">
        <!--Start Blog Thumb -->
        <div class="blog-details-thumb-wrap">
            <div class="blog-details-thumb">
                <img src="/azshopweb/images/post/{{post.imgName}}" alt="blog images" />
            </div>
            <div class="upcoming-date">14<span class="upc-mth">Sep,2017</span></div>
        </div>
        <!--End Blog Thumb -->
        <h2>{{post.title}}</h2>
        <div class="blog-admin-and-comment">
            <p>BY : <a href="#">ADMIN</a></p>
            <p class="separator">|</p>
            <p>3 COMMENTS</p>
        </div>
        <!-- Start Blog Pra -->
        <div class="blog-details-pra">
            {{{post.description}}}
        </div>
        <!-- End Blog Pra -->      
        <!-- Start Blog Comment Area -->
        {{!-- {{> azshopweb/postDetailsLeftComment}}         --}}
        <!-- End Blog Comment Area -->
        <!-- Start Reply Form -->
        {{!-- {{> azshopweb/postDetailsLeftForm}}  --}}
        <!-- End Reply Form -->
    </div>
</div>