<div class="our-reply-form-area mt--20">
            <h2 class="section-title-2">LEAVE A REPLY</h2>
            <div class="reply-form-inner mt--40">
                <div class="reply-form-box">
                    <div class="reply-form-box-inner">
                        <div class="rfb-single-input">
                            <input type="text" placeholder="Name*" />
                        </div>
                        <div class="rfb-single-input">
                            <input type="email" placeholder="Email*" />
                        </div>
                    </div>
                </div>
                <div class="reply-form-box">
                    <textarea name="message" placeholder="Message"></textarea>
                </div>
                <div class="blog__details__btn">
                    <a class="htc__btn btn--gray" href="#">submit</a>
                </div>
            </div>
        </div>