<div class="our-category-area mt--60">
        <h2 class="section-title-2">CATEGORY</h2>
        <ul class="categore-menu">
            <li>
                <a href="#"><i class="zmdi zmdi-caret-right"></i>BLOG <span>20</span></a>
            </li>
            <li>
                <a href="#"><i class="zmdi zmdi-caret-right"></i>business <span>40</span></a>
            </li>
            <li>
                <a href="#"><i class="zmdi zmdi-caret-right"></i>DESIGN <span>60</span></a>
            </li>
            <li>
                <a href="#"><i class="zmdi zmdi-caret-right"></i>BRANDING <span>70</span></a>
            </li>
            <li>
                <a href="#"><i class="zmdi zmdi-caret-right"></i>ANTHONY <span>80</span></a>
            </li>
        </ul>
</div>