<div class="blod-details-right-sidebar">
    <div class="category-search-area">
        <input placeholder="Search......" type="text" />
        <a class="srch-btn" href="#"><i class="zmdi zmdi-search"></i></a>
    </div>
    <!-- Start Category Area -->
    <div class="our-category-area mt--60">
        <h2 class="section-title-2">CATEGORY</h2>
        <ul class="categore-menu">
            <li>
                <a href="#"><i class="zmdi zmdi-caret-right"></i>BLOG <span>20</span></a>
            </li>
            <li>
                <a href="#"><i class="zmdi zmdi-caret-right"></i>business <span>40</span></a>
            </li>
            <li>
                <a href="#"><i class="zmdi zmdi-caret-right"></i>DESIGN <span>60</span></a>
            </li>
            <li>
                <a href="#"><i class="zmdi zmdi-caret-right"></i>BRANDING <span>70</span></a>
            </li>
            <li>
                <a href="#"><i class="zmdi zmdi-caret-right"></i>ANTHONY <span>80</span></a>
            </li>
        </ul>
    </div>
    <!-- End Category Area -->
    <!-- Start Letaest Blog Area -->
    <div class="our-recent-post mt--60">
        <h2 class="section-title-2">LATEST POST</h2>
        <div class="our-recent-post-wrap">
            <!-- Start Single Post -->
            <div class="single-recent-post">
                <div class="recent-thumb">
                    <a href="blog-details.html"><img src="/azshopweb/images/blog/sm-img/1.jpg" alt="post images" /></a>
                </div>
                <div class="recent-details">
                    <div class="recent-post-dtl">
                        <h6><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetu adipisicing elit, sed do.</a></h6>
                    </div>
                    <div class="recent-post-time">
                        <p>14 SEP 2017</p>
                        <p class="separator">|</p>
                        <p>5 : 00 PM</p>
                    </div>
                </div>
            </div>
            <!-- End Single Post -->
            <!-- Start Single Post -->
            <div class="single-recent-post">
                <div class="recent-thumb">
                    <a href="blog-details.html"><img src="/azshopweb/images/blog/sm-img/2.jpg" alt="post images" /></a>
                </div>
                <div class="recent-details">
                    <div class="recent-post-dtl">
                        <h6><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetu adipisicing elit, sed do.</a></h6>
                    </div>
                    <div class="recent-post-time">
                        <p>14 SEP 2017</p>
                        <p class="separator">|</p>
                        <p>5 : 00 PM</p>
                    </div>
                </div>
            </div>
            <!-- End Single Post -->
            <!-- Start Single Post -->
            <div class="single-recent-post">
                <div class="recent-thumb">
                    <a href="blog-details.html"><img src="/azshopweb/images/blog/sm-img/3.jpg" alt="post images" /></a>
                </div>
                <div class="recent-details">
                    <div class="recent-post-dtl">
                        <h6><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetu adipisicing elit, sed do.</a></h6>
                    </div>
                    <div class="recent-post-time">
                        <p>14 SEP 2017</p>
                        <p class="separator">|</p>
                        <p>5 : 00 PM</p>
                    </div>
                </div>
            </div>
            <!-- End Single Post -->
        </div>
    </div>
    <!-- End Letaest Blog Area -->
    <!-- Start Tag -->
    <div class="our-blog-tag">
        <h2 class="section-title-2">TAGS</h2>
        <ul class="tag-menu mt-40">
            <li><a href="#">Planning</a></li>
            <li><a href="#">Consulting</a></li>
            <li><a href="#">Investment</a></li>
            <li><a href="#">Investment</a></li>
            <li><a href="#">planning</a></li>
            <li><a href="#">Management</a></li>
        </ul>
    </div>
    <!-- End Tag -->
</div>