<div class="blod-details-right-sidebar">
    {{> azshopweb/postDetailsRightSearch}}  
    <!-- Start Category Area -->
    {{> azshopweb/postDetailsRightCategory}}  
    <!-- End Category Area -->
    <!-- Start Letaest Blog Area -->
    {{> azshopweb/postDetailsRightLastPost}}          
    <!-- End Letaest Blog Area -->
    <!-- Start Tag -->
    {{> azshopweb/postDetailsRightTags}} 
    <!-- End Tag -->
</div>