 <div class="our-blog-comment mt--20">
            <div class="blog-comment-inner">
                <h2 class="section-title-2">COMMENTS (03)</h2>
                <!-- Start Single Comment -->
                <div class="single-blog-comment">
                    <div class="blog-comment-thumb">
                        <img src="/azshopweb/images/comment/1.jpg" alt="comment images" />
                    </div>
                    <div class="blog-comment-details">
                        <div class="comment-title-date">
                            <h2><a href="#">Martin Payet</a></h2>
                            <div class="reply">
                                <p>14 Sep 2017 / <a href="#">REPLY</a></p>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi ut labore et dolo magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    </div>
                </div>
                <!-- End Single Comment -->
                <!-- Start Single Comment -->
                <div class="single-blog-comment comment-reply">
                    <div class="blog-comment-thumb">
                        <img src="/azshopweb/images/comment/2.jpg" alt="comment images" />
                    </div>
                    <div class="blog-comment-details">
                        <div class="comment-title-date">
                            <h2><a href="#">Martin Payet</a></h2>
                            <div class="reply">
                                <p>14 Sep 2017 / <a href="#">REPLY</a></p>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi ut labore et dolo magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    </div>
                </div>
                <!-- End Single Comment -->
                <!-- Start Single Comment -->
                <div class="single-blog-comment">
                    <div class="blog-comment-thumb">
                        <img src="/azshopweb/images/comment/3.jpg" alt="comment images" />
                    </div>
                    <div class="blog-comment-details">
                        <div class="comment-title-date">
                            <h2><a href="#">Martin Payet</a></h2>
                            <div class="reply">
                                <p>14 Sep 2017 / <a href="#">REPLY</a></p>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi ut labore et dolo magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    </div>
                </div>
                <!-- End Single Comment -->
            </div>
 </div>