<div class="our-recent-post mt--60">
        <h2 class="section-title-2">LATEST POST</h2>
        <div class="our-recent-post-wrap">
            <!-- Start Single Post -->
            <div class="single-recent-post">
                <div class="recent-thumb">
                    <a href="blog-details.html"><img src="/azshopweb/images/blog/sm-img/1.jpg" alt="post images" /></a>
                </div>
                <div class="recent-details">
                    <div class="recent-post-dtl">
                        <h6><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetu adipisicing elit, sed do.</a></h6>
                    </div>
                    <div class="recent-post-time">
                        <p>14 SEP 2017</p>
                        <p class="separator">|</p>
                        <p>5 : 00 PM</p>
                    </div>
                </div>
            </div>
            <!-- End Single Post -->
            <!-- Start Single Post -->
            <div class="single-recent-post">
                <div class="recent-thumb">
                    <a href="blog-details.html"><img src="/azshopweb/images/blog/sm-img/2.jpg" alt="post images" /></a>
                </div>
                <div class="recent-details">
                    <div class="recent-post-dtl">
                        <h6><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetu adipisicing elit, sed do.</a></h6>
                    </div>
                    <div class="recent-post-time">
                        <p>14 SEP 2017</p>
                        <p class="separator">|</p>
                        <p>5 : 00 PM</p>
                    </div>
                </div>
            </div>
            <!-- End Single Post -->
            <!-- Start Single Post -->
            <div class="single-recent-post">
                <div class="recent-thumb">
                    <a href="blog-details.html"><img src="/azshopweb/images/blog/sm-img/3.jpg" alt="post images" /></a>
                </div>
                <div class="recent-details">
                    <div class="recent-post-dtl">
                        <h6><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetu adipisicing elit, sed do.</a></h6>
                    </div>
                    <div class="recent-post-time">
                        <p>14 SEP 2017</p>
                        <p class="separator">|</p>
                        <p>5 : 00 PM</p>
                    </div>
                </div>
            </div>
            <!-- End Single Post -->
        </div>
 </div>