<!-- Start Contact Area -->
<section class="htc__contact__area ptb--120 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="htc__contact__container w-50 m-auto">
                    <div class="htc__contact__address">
                        <h2 class="contact__title">Thông tin về chúng tôi</h2>
                        <div class="contact__address__inner">
                            <!-- Start Single Adress -->
                            <div class="single__contact__address">
                                <div class="contact__icon">
                                    <span class="ti-location-pin"></span>
                                </div>
                                <div class="contact__details">
                                    <p>CÔNG TY CỔ PHẦN DƯỢC MỸ PHẨM HMD PHARMA</p>
                                    <p>Trụ sở: <br> Số 10 Sông Thao, phường 2 , Quận Tân Bình.</p>
                                </div>
                            </div>
                            <!-- End Single Adress -->
                        </div>
                        <div class="contact__address__inner">
                            <!-- Start Single Adress -->
                            <div class="single__contact__address">
                                <div class="contact__icon">
                                    <span class="ti-mobile"></span>
                                </div>
                                <div class="contact__details">
                                    <p> Phone : <br><a href="#">098 705 11 88 </a></p>
                                </div>
                            </div>
                            <!-- End Single Adress -->
                            <!-- Start Single Adress -->
                            <div class="single__contact__address">
                                <div class="contact__icon">
                                    <span class="ti-email"></span>
                                </div>
                                <div class="contact__details">
                                    <p> Mail :<br><a href="#">hmdpharmahcm@gmail.com</a></p>
                                </div>
                            </div>
                            <!-- End Single Adress -->
                        </div>
                    </div>
                    <div class="contact-form-wrap">
                    <div class="contact-title">
                        <h2 class="contact__title">Liên hệ với tôi</h2>
                    </div>
                    <form id="contact-form" action="mail.php" method="post">
                        <div class="single-contact-form">
                            <div class="contact-box name">
                                <input type="text" name="name" placeholder="Họ và tên*">
                                <input type="email" name="email" placeholder="Email của bạn*">
                            </div>
                        </div>
                        <div class="single-contact-form">
                            <div class="contact-box subject">
                                <input type="text" name="subject" placeholder="Tiêu đề*">
                            </div>
                        </div>
                        <div class="single-contact-form">
                            <div class="contact-box message">
                                <textarea name="message"  placeholder="Nội dung*"></textarea>
                            </div>
                        </div>
                        <div class="contact-btn">
                            <button type="submit" class="fv-btn">SEND</button>
                        </div>
                    </form>
                </div> 
                <div class="form-output">
                    <p class="form-messege"></p>
                </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End Contact Area -->