<!-- Start Product Details -->
<section class="htc__product__details product-details-style2 pb--100 bg__white">
     {{> azshopweb/postDetailsBanner}} 
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-12">
           {{> azshopweb/postDetailsLeft}} 
        </div>
        {{!-- <div class="col-lg-4 col-xl-4 col-md-12 col-12 smt-30 xmt-40">
            {{> azshopweb/postDetailsRight}}
        </div> --}}
    </div>
</div>
<!-- End Product Details -->
<script>
    document.addEventListener('DOMContentLoaded',function(){        
           
        
    })
    
</script>