<!-- Start Product Details -->
<section class="htc__product__details product-details-style2 pb--100 bg__white">
    <div class="container">
        <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/azshopweb//azshopweb/images/bg/2.jpg) no-repeat scroll center center / cover;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Blog Details</h2>
                                <nav class="bradcaump-inner">
                                    <a class="breadcrumb-item" href="index.html">Home</a>
                                    <span class="brd-separetor">/</span>
                                    <span class="breadcrumb-item active">right sidebar</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xl-8 col-md-12 col-12">
           {{> azshopweb/postDetailsLeft}} 
        </div>
        <div class="col-lg-4 col-xl-4 col-md-12 col-12 smt-30 xmt-40">
            {{> azshopweb/postDetailsRight}}
        </div>
    </div>
</div>
<!-- End Product Details -->
<script>
    document.addEventListener('DOMContentLoaded',function(){        
           
        
    })
    
</script>